
/*------------------slider style---------------*/

.slider
	max-width 1920px

img 
	max-width 100%
	height auto


/* -------------НАПРАВЛЕННЯ - DIRECTION-------------------*/

.direction
	padding 45px 0 73px 0

.caption__direction + *
	padding-bottom 37px

.direction-list
	display flex
	flex-wrap wrap
	justify-content space-around
	align-content space-between
	min-height 676px

.direction-item
	position relative
	max-width 300px
	min-height 318px
	line-height 24px
	font-size 15px
	text-align center

.fourth-header
	font-size 24px
	font-family "ProximaNovaBold", sans-serif
	line-height 60px
	text-transform uppercase
	color #0b4da3

.direction-item__img-1
	padding-top 47px

.direction-item__img-2
	padding-top 42px

.direction-item__img-3
	padding-top 29px

.direction-item__img-5
	padding-top 12px

.direction-item__text
	display block
	margin-top 18px
	padding 0 38px 0 38px

.direction-item__text--narrow
	padding 0 55px 0 55px
	
.bottom-line
	position relative

.bottom-line::after
	content ''
	position absolute
	left 45.5%
	bottom 0
	width 27px
	height 1px
	background-color #0b4da3
	
.button-filled
	font-size 18px
	color #fff
	background-color #0b4da1
	border-radius 5px
	cursor pointer
	border 2px solid #0b4da1
	
.button-more
	display block
	margin 38px auto 0 auto 
	width 184px
	height 50px
	font-family "ProximaNovaSemibold", sans-serif

/*---------------Projects--------------------*/

.sub-nav
	width 100%
	min-height 53px
	background-color #efefef

.sub-menu
	display flex
	justify-content center
	font-size 14px
	
.sub-menu__link
	display block
	padding 0 17px 0
	min-height 53px
	line-height 53px
	
.sub-menu__link:hover
	background-color #c2c1c1

.section--indent
	padding-bottom 65px

.section--indent:nth-child(2)
	padding-top 65px

.section--indent:last-child
	padding-bottom 0

.caption *+*
	padding-bottom 65px

.projects-paragraph
	margin 0 auto
	padding-top 10px
	max-width 515px
	font-size 18px
	text-align center
	line-height 24px

.description
	display flex
	min-height 509px
	background-color #f4f4f4

.block-img
	width 50%
	line-height 0

.block-img__item
	max-width 100%
	height 100%
	object-fit cover

.block-content
	width 50%
	font-size 17px
	text-align left

.block-content__wrapper
	display flex
	align-items center
	margin 0 auto
	width 70%
	max-width 460px
	min-height 509px

.block-content__header
	padding-bottom 17px
	font-family "ProximaNovaBold", sans-serif
	font-size 24px
	line-height 30px
	font-weight bold
	
.link-wrapper
	margin 11px 0 11px 0
	
.block-content__link-more
	font-family "ProximaNovaSemibold", sans-serif
	font-weight bold
	font-size 12px
	line-height 30px
	text-transform uppercase
	color #0b4da3

.description__header--indent
	padding-top 17px

.projects 
	margin-bottom 50px


/*-----------ПРО КОМПАНИЮ------------*/

.roll
	background url('../img/bg-about.jpg') no-repeat center
	background-size cover

.third-header
	margin 0 auto
	padding-bottom 30px
	max-width 520px
	font-size 30px
	font-family "ProximaNovaBlack", sans-serif
	text-align center
	color #fff
	text-transform uppercase

.roll__paragraph
	margin 0 auto
	padding 0 5px
	max-width 615px
	font-size 22px
	line-height 30px
	text-align center
	color #fff
	
.caption__roll
	padding-top 134px

.caption__roll *+*
	padding 0 10px 96px 10px
	
.xinwei-world
	background-color #0b4da1

.about-header
	margin 0
	padding-bottom 60px
	font-family "ProximaNovaBlack", sans-serif
	font-size 60px
	text-align center
	text-transform uppercase
	color #fff

.xinwei-world__paragraph
	margin 0 auto
	padding 0 5px 0
	max-width 875px
	font-family "ProximaNovaThin", sans-serif
	font-size 28px
	line-height 38px
	text-align center
	color #fff

.caption__xinwei-world
	padding-top 85px

.caption__xinwei-world *+*
	padding-bottom 60px
	
.xinwei-countries
	padding-bottom 20px
	background-color #eaeaea

.xinwei-about
	display flex

.xinwei-about__map
	margin-top 55px
	width 75%
	height 90%
	line-height 0

.xinwei-about__paragraph
	padding-top 7%
	max-width 310px
	font-size 15px
	line-height 25px

.xinwei-about__header
	display block
	padding-bottom 30px
	font-family "ProximaNovaBold", sans-serif
	font-size 24px
	line-height 30px
	font-weight bold
	
.xinwei-about__bg
	max-width 100%
	object-fit cover

/*****************Mission *****************/

.mission
	padding 60px 0 60px 0

.subtitle
	margin 0 auto
	padding-top 30px
	max-width 830px
	font-family "ProximaNovaThin", sans-serif
	font-size 28px
	line-height 38px
	font-weight lighter
	text-align center

.mission-content
	display flex
	margin 0 auto
	max-width 1000px
	min-height 455px
	font-size 17px
	line-height 26px

.content-left-column
	padding 0 50px 0 70px
	width 50%

.content-right-column
	padding 0 65px 0 55px
	width 50%
	
.content__header
	padding-bottom 30px
	font-size 24px
	line-height 30px
	
.content-column__paragraph
	padding-top 30px
	
/*-----------МЕНЕДЖМЕНТ------------*/

.staff-list
	display flex
	flex-wrap wrap

.staff__item
	display flex
	justify-content space-between
	position relative
	width 50%
	height 250px
	border-top 1px solid #efefef
	
.staff__item:nth-child(-n+2)
	border-top none

.staff__item-link
	display block
	margin auto
	max-width 169px
	max-height 169px
	border-radius 50%
	border 6px solid #fff
	
.staff__item-link:active
	border 6px solid #e8e9e9

.staff__item-img
	max-width 100%
	height auto
	line-height 0
	border-radius 50%
	
.staff__item-info
	display flex
	flex-direction column
	margin auto 0
	width 48.2%

.staff__item-name
	display block	
	padding-bottom 15px
	font-size 22px
	color #0b4da3
	
.staff__item-position
	display block
	font-size 16px
	color #949596
	
.staff-read-more
	display none
	position absolute
	top 230px
	left 0
	padding 23px 23px 34px 23px
	width 1000px
	max-width 95vw
	font-size 17px
	line-height 26px
	color #222
	background-color #f2f2f2
	border-bottom 2px solid #e5e5e5
	border-radius 5px

.staff-read-more--indent
	left -100%

.clicked
	margin-bottom 150px
	
.staff-read--active
	display block


/*-----------ТЕХНОЛОГИИ И СТАНДАРТЫ------------*/

.standarts
	padding-top 90px
	padding-bottom 70px

.standarts-content
	display flex
	margin 0 auto
	max-width 1000px
	font-size 17px
	line-height 26px

.standarts__header
	padding-bottom 30px
	text-align center
	font-size 24px
	line-height 30px
	
.standarts__paragraph
	margin 0 auto
	max-width 850px
	text-align center
	font-size 17px
	line-height 26px

.content__header--indent-col1
	padding-top 40px

.content__header--indent-col2
	padding-top 65px

/*-----------НАШИ ПАРТНЕРЫ------------*/

.partners
	padding 80px 0 100px 0
	
.subtitle--smaller
	max-width 620px

.partner-list
	display flex
	flex-wrap wrap
	margin 0 auto
	min-height 400px

.partner-list__item
	display block
	width 25%
	min-height 200px
	border solid #efefef

.partner-list__link
	display block
	margin auto
	line-height 0
	
.partner-list__img
	max-width 100%
	height auto

.partner-list__item-block-img
	display flex
	width 100%
	min-height 115px

.partner-list__name
	display block
	text-align center
	font-size 16px
	color #222222

.partner-list__name-info
	display block
	padding-top 15px
	text-align center
	font-size 14px
	line-height 20px
	color #949596

for $n in (1)
	.partner-list__item:nth-child({$n})
		border-width 0 0.5px 0.5px 0

for $n in (2..3)
	.partner-list__item:nth-child({$n})
		border-width 0 0.5px 0.5px 0.5px

for $n in (4)
	.partner-list__item:nth-child({$n})
		border-width 0 0 0.5px 0.5px
		
for $n in (5)
	.partner-list__item:nth-child({$n})
		border-width 0.5px 0.5px 0 0
		
for $n in (6..7)
	.partner-list__item:nth-child({$n})
		border-width 0.5px 0.5px 0 0.5px

for $n in (8)
	.partner-list__item:nth-child({$n})
		border-width 0.5px 0 0 0.5px


/*-----------Пресс-центр------------*/

.press-center
	padding-bottom 80px
	
.news
	display flex
	flex-wrap wrap
	align-content flex-start
	justify-content space-between
	margin 0 auto

.fifth-header
	width 100%
	height 83px
	text-align center
	font-size 20px
	font-family "ProximaNovaSemibold", sans-serif
	font-weight bold
	line-height 83px
	text-transform uppercase
	color #222222

.news__item
	width 30%
	min-height 285px

.news__item:nth-child(-n+4)
	margin-bottom 50px

.news__item-link-img
	display block
	max-height 191px
	line-height 0
	
.news__item-img
	width 100%
	max-height 191px
	
.news__item-date
	display block
	padding 14px 0 14px 0
	font-size 12px
	font-family "ProximaNovaSemibold", sans-serif
	color #c5c5c5
	
.news__item-link
	display block
	padding-right 10px
	font-family "ProximaNovaSemibold", sans-serif
	font-size 18px
	color #222222
	
.news__item-link:hover
	text-decoration underline
	
.more
	margin 0 auto
	padding 32px 0 32px 0
	width 100%
	text-align center
	
.link-more
	font-family "ProximaNovaSemibold", sans-serif
	font-weight bold
	font-size 13px
	line-height 30px
	text-transform uppercase
	color #0b4da3
	
.pressa
	background-color #f4f4f4

.publication
	display flex
	flex-wrap wrap
	align-content flex-start
	justify-content space-between
	
.publication__item
	width 30%
	min-height 140px
	
.publication__paragraph
	font-size 16px
	line-height 24px
	
.publication__link
	font-size 12px
	line-height 24px
	text-transform uppercase
	color #0b4da3
	
.press-kit-items
	display flex
	flex-wrap wrap
	
.left-col
	padding 15px 24px 0 24px
	width 50%
	
.right-col
	width 50%
	min-height 300px
	
.left-col__paragraph-1
	font-size 28px
	line-height 38px
	color #222222
	
.left-col__paragraph-2
	padding-top 15px
	font-size 17px
	line-height 24px
	color #222222
	
.links-list
	padding 15px 0 0 60px
	font-size 14px
	line-height 26px

.links-list__item
	position relative
	padding-bottom 10px

.links-list__item-link
	text-decoration underline
	text-decoration-color #6a86bc
	color #0b4da3
	
.links-list__item:before
	content ''
	position absolute
	left -25px
	top 4px
	width 17px
	height 14px
	background url('../img/link-download.png')
	

/*-----------Наши контакты------------*/

.contacts
	margin 0 0 50px 0
	padding-top 80px
	
.contacts__subtitle
	margin 0 auto
	padding-top 20px
	max-width 830px
	font-family "ProximaNovaThin", sans-serif
	font-size 28px
	line-height 38px
	font-weight lighter
	text-align center
	
.map
	position relative
	padding-bottom 56.25%
	height 0
	overflow hidden
	
.map iframe
	position absolute
	left 0
	top 0
	width 100%
	height 100%

.communications
	display flex
	margin-top 50px
	
.contacts-xinwei
	padding-left 120px
	width 50%
	height 100%

.feedback
	padding 0 74px 0 55px
	width 50%
	height 100%
	
.contacts-header
	position relative
	padding-bottom 20px
	font-size 24px
	line-height 30px
	color #222

.contacts-header__bottom-line::after
	content ''
	position absolute
	left 0
	bottom -3px
	width 40px
	border solid #0b4da3
	border-width 0 0 3px 0
	
.contacts-xinwei__address
	display block
	padding-top 12px
	font-size 18px
	line-height 30px
	color #222

.contacts-xinwei__cooperation
	display block
	padding-top 12px
	font-size 15px
	line-height 24px
	color #222

.contacts-xinwei__office
	display block
	padding-top 12px
	font-size 15px
	line-height 24px
	color #222

.number
	display block
	
.contacts-xinwei__link
	font-size 15px
	line-height 24px
	font-weight bold
	color #0b4da3
	
.contacts-xinwei__subtitle
	display block
	font-size 12px
	line-height 32px
	text-transform uppercase
	font-weight 800
	
:placeholder
	font-weight 600
	color #a9a9a9

:focus::placeholder
	color transparent
	
.feedback__entry
	margin-bottom 19px
	padding-left 16px
	width 100%
	height 40px
	font-size 15px
	font-weight 600
	line-height 30px
	border 1px solid #e2e2e2

.feedback__message
	padding 16px
	height 114px
	resize none
	
.feedback__entry:hover
	border 2px solid #a1c6f7
	
.feedback__entry:focus
	border 1px solid #0b4da3

.feedback__button
	width 150px
	height 40px
	
//----------scroll-up

.scroll-top
	position fixed
	bottom -50px
	right 50px
	width 50px
	height 50px
	border-radius 50%
	border 1px solid #fff
	background-color #cdd1d6
	z-index 100
	outline none
	transition .4s
	
.scroll-top::after
	content ''
	position absolute
	top 4px
	bottom 0
	left 0
	right 0
	margin auto
	width 10px
	height 10px
	border-top 2px solid #fff
	border-left 2px solid #fff
	transform rotate(45deg)
	
.scroll-top.active
	bottom 50px