.main-footer
	background-color #0b4da3
	
.footer-info
	display flex
	flex-wrap wrap
	align-content flex-start
	
.footer-info__phone
	width 35%
	text-align center
	
.footer-info__email
	width 30%
	text-align center
	
.footer-info__addres
	width 35%
	text-align center
	
.footer-info__copyright
	padding 30px 0
	width 100%
	font-size 13px
	color #568fd9
	text-align center

.footer-info__subtitle
	position relative
	padding 40px 0 34px 0
	font-size 13px
	color #568fd9
	
.footer-info__content
	font-size 15px
	color white

.footer-info__subtitle::after
	content ''
	position absolute
	left 50%
	bottom 16px
	width 15px
	border solid #568fd9
	border-width 0 0 2px 0
	transform translateX(-50%)