@media screen and (max-width: 1023px)

 //-----------------------------header
	.main-menu__item
		min-height 60px
		
	.user-block__item
		min-height 60px
		
	.logo-link
		max-width 150px
		height 50.8px
		background-color transparent
		
	body
		padding-top 75px

	.main-header
		position fixed
		top 0
		height 75px
		width 100%
		z-index 9
		background-color #fff
		
	.menu-open
		display block
	
	.main-menu
		flex-direction column
		background-color #cdd1d6
		
	.main-nav
		margin-right 0
		width 100%
		max-width 100%

	.user-block
		justify-content center
		max-width 100%
	
	.user-nav
		width 100%
		background-color #cdd1d6	

	.main-menu__item:hover
		background-color rgba(255, 245, 238, 0.3)
	
	.main-menu__link
		justify-content center
		width 100%
		height 50px
		
	.main-header>.wrapper
		padding 0

	.open-nav
		position fixed
		top -100vh
		flex-direction column
		margin-top 75px
		width 100%
		transition all 0.3s

	.open-nav--active
		transform translateY(100vh)
		
	.header-container
		flex-direction column
	
	.logo-link
		position fixed
		top 12.5px
		right 20px

	
	//---------------------------direction	
	.fourth-header
		font-size 24px - 15%
		
	.secondary-header
		font-size 36px - 15%
		line-height 1.2em
		
	.direction-list
		justify-content space-around

	
	//--------------------------projects
	.description
		flex-direction column
		justify-content center
		min-height 370px

	.block-img
		margin 0 auto
		padding-bottom 50px
		height 50vh
		width 75vw
		
	.block-img__item
		width 100%
		
	.block-content
		margin 0 auto
		width 75vw
		
	.block-content__wrapper
		align-items flex-start
		min-height auto

	//--------------------------about
	.roll
		min-height 350px
		
	.about-header
		font-size 60px - 15%
		
	.third-header
		max-width 90vw
		font-size 30px - 15%	
		
	.xinwei-world__paragraph
		max-width 743.75px
		font-size 28px - 15%
		line-height 32px

	.xinwei-about::before
		width 828px - 15%
		height 458px - 15%
		
	//-------------------------xinwei-countriers
	.xinwei-about
		flex-direction column

	.xinwei-about__map
		margin 30px auto
		
	.xinwei-about__paragraph
		max-width 90vw
		text-align center
	//--------------------------mission
	.subtitle
		padding 23px 0 55px 0
		max-width 830px - 15%
	
	//--------------------------partners
	.partner-list__item
		width 50%
		
	.partner-list__item:nth-child(2)
		border-width 0 0 0.5px 0.5px 
		
	.partner-list__item:nth-child(3)
		border-width 0.5px 0.5px 0.5px 0
	
	.partner-list__item:nth-child(4)
		border-width 0.5px 0 0.5px 0.5px
		
	.partner-list__item:nth-child(5)
		border-width 0.5px 0.5px 0.5px 0
		
	.partner-list__item:nth-child(6)
		border-width 0.5px 0 0.5px 0.5px
	
	.partner-list__item:nth-child(7)
		border-width 0.5px 0.5px 0 0
		
	//--------------------------press-center
	.press-center
		padding-bottom 80px - 15%
		
	.fifth-header
		height 83px - 15%
		font-size 20px - 15%
		line-height 83px - 15%
	
	.news
		justify-content space-around	

	.news__item
		width 35%
		
	//--------------------------pressa
	.publication__paragraph
		font-size 16px - 15%
		line-height 24px - 15%
	
	//--------------------------press-kit
	.left-col__paragraph-1
		font-size 28px - 15%
		line-height 38px - 15%
		
	.left-col__paragraph-2
		font-size 17px - 15%
		line-height 24px - 15%
		
	//--------------------------contacts
	.contacts-xinwei
		padding 0 50px 0 60px
		
	.feedback
		padding 0 74px 0 0


@media screen and (max-width: 767px)

	.sub-menu
		font-size 13px

	.sub-menu__link
		padding 0 10px 0
	
	//-------------------direction 
	.projects-paragraph
		max-width 90vw

	.block-img
		width 80vw
		height 40vh
		
	.block-content__wrapper
		width 85%
		
	.about-header
		font-size 60px - 30%
	
	.xinwei-world__paragraph
		padding 0 10px 35px
		font-size 28px - 30%
		line-height 32px - 15%
		
	//--------------------------mission
	.subtitle
		padding 18px 0 45px 0
		max-width 830px - 30%
		font-size 28px - 30%
		line-height 38px - 30%
		
	.mission-content
		flex-direction column
		font-size 15px
		line-height 26px - 20%
	
	.content-left-column
		padding 0 50px 20px 50px
		width 100%
	
	.content-right-column
		padding 0 50px 20px 50px
		width 100%

	.content__header
		font-size 20px
		line-height 30px - 20%

	//--------------------------management
	.staff__item
		width 100%
	
	.staff__item-link
		max-width 120px
		max-height 120px
	
	.staff-read-more--indent
		left 0
		
	//--------------------------standarts
	.standarts-content
		flex-wrap wrap

	//------------------partners
	.partner-list__item-block-img
		min-height 90px
		
	.partner-list
		min-height 300px
		
	//------------press-center
	.press-center
		padding-bottom 80px - 30%
		
	.news__item
		margin-bottom 50px
		width 51%
		min-height 200px
		
	//--------------------------pressa
	.publication
		justify-content center
		
	.publication__item
		width 70%
		
	//--------------------------press-kit
	.left-col
		margin-bottom 30px
		width 100%
	
	.right-col
		width 100%
		
	//--------------------------contacts
	.communications
		flex-wrap wrap
		justify-content center
		
	.contacts-xinwei
		margin-bottom 50px
		width 70%
	
	.feedback
		padding 0
		width 80%
		
	.contacts-header
		text-align center
		
	//--------------------------news-open
	.news-content
		flex-wrap wrap
		margin-bottom 20px
		
	.news__main
		width 100%
		
	.news__similar
		width 100%
		
	.similar__el
		min-height 80px
		
	//--------------------------footer
	.sub-menu
		flex-wrap wrap
		
	.footer-info__phone
		width 100%
	
	.footer-info__email
		width 100%
		
	.footer-info__addres
		width 100%

@media screen and (max-width: 620px)
	.clicked
		margin-bottom 200px
		
	.news-open__img
		display block
		float none
		margin 0 auto 20px
		
@media screen and (max-width: 480px)
	//---------------------------direction
	.secondary-header
		font-size 25px
	
	.projects-paragraph
		font-size 16px
		
	.general-paragraph
		padding 20px 0 0 0
		font-size 16px
		
	.button-more
		width 150px
		height 40px
		
	.block-img
		width 100%
	
	.block-content__wrapper
		width 100%
	
	//---------------------------about
	.caption__roll
		padding-top 50px
		
	.third-header
		font-size 22px
		
	.roll__paragraph
		font-size 18px
		
	.caption__roll *+*
		padding-bottom 65px
		
	.about-header
		font-size 32px
		
	//---------------------------mission
	.content-left-column
		padding 0 10px 20px
	
	.content-right-column
		padding 0 10px 20px
		
	.xinwei-about__map
		width 100%
	
	//---------------------------management
	.staff__item
		height 200px
		
	.staff-read-more
		width 100%
		
	.clicked
		margin-bottom 400px
		
	//---------------------------partners
	.partners
		padding-bottom 20px	

	.partner-list > .partner-list__item
		width 100%
		min-height 170px
		border-width 0 0 0.5px 0
		
	.partner-list__item:last-child
		border-width 0
		
	//---------------------------press-center
	.news__item
		width 100%
		
	.news__item-link-img
		max-height 80%
		
	.news__item-img
		width 100%
		max-height 80%
		
	.left-col
		padding 0
		
	.links-list
		padding-left 30px
		
	//---------------------------contacs
	.contacts-xinwei
		padding 0 0 0 20px
		width 100%
		
	.contacts-header__bottom-line::after
		left 45%
		
	.feedback
		width 100%
		
	.slide img
		height 130px