footer.main-footer
			.small-wrapper
				.footer-info
					.footer-info__phone
						p.footer-info__subtitle PHONE
						span.footer-info__content +38 (044) 233 34 76 / +38 (093) 567 09 89
					.footer-info__email
						p.footer-info__subtitle E-MAIL
						a.footer-info__content(href='#')  Xinwei@office.com
					.footer-info__addres
						p.footer-info__subtitle ADDRESS
						span.footer-info__content Украина, Киев,  ул. Щорса, 16/20
					.footer-info__copyright ©2015 Xinwei Ukraine. All rights reserved.