header.main-header
			.wrapper.header-container
				button.menu-open
					span
					span
					span
				a.logo-link(href='index.html')
					img.logo(src='img/Logo.png' alt='alt')
				.open-nav
					nav.main-nav
						ul.main-menu
							li.main-menu__item
								a.main-menu__link(href='#scroll-about') О компании
							li.main-menu__item
								a.main-menu__link(href='#scroll-project') Проекты
							li.main-menu__item
								a.main-menu__link(href='#scroll-standarts') 		Технологии и стандарты
							li.main-menu__item
								a.main-menu__link(href='#scroll-partners') Партнеры
							li.main-menu__item
								a.main-menu__link(href='#scroll-press-center') 		Пресс-центр
							li.main-menu__item
								a.main-menu__link(href='#scroll-contacts') Контакты
					.user-nav
						ul.user-block
							li.user-block__item
								a.user-block__link(href='#')
									img(src='img/mail.png' alt='alt')
							li.user-block__item.user-block__item--indent
									select.choose-lang(name='lang')
										option.choose-lang__item(value='ru') ru
										option.choose-lang__item(value='eu') eu
										option.choose-lang__item(value='ua') ua
							li.user-block__item
								a.user-block__link(href='#')
									img(src='img/search.png' alt='alt')