doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name='viewport' content='width=device-width, initial-scale=1')
		title Предоплата за газ будет зависеть от погоды и исполнения контракта "Газпромом" – Коболев
		link(rel='stylesheet' type='text/css' href='css/normalize.css')
		link(rel='stylesheet' type='text/css' href='css/main.css')
	body
		include header
		article.news-open
			.small-wrapper
				.news-content
					.news__main
						.news__investment Home › Новости › 
							span.active-page Предоплата за газ будет...
						h4.news-open__header Предоплата за газ будет зависеть от погоды и исполнения контракта "Газпромом" – Коболев
						span.news__item-date 2 февраля 2015
						.news-open__text
							img.news-open__img(src='img/news-1.png' alt='alt')
							p.news-open__paragraph В "Нафтогаз" говорят, что четко выполняют свои обязательства 	Газпром по-прежнему не исполняет заявки украинской компании на 	поставку газа "в срок и должным образом", заявил глава "Нафтогаза 	Украины" Андрей Коболев. 
							p.news-open__paragraph "Газпром" по-прежнему не выполняет наши заявки в срок и должным 	образом", заявил глава "Нафтогаза Украины" Андрей Коболев. 
							p.news-open__paragraph "Газпром" по-прежнему не выполняет наши заявки в срок и должным 	образом. Мы надеемся, что предоплаченный ранее объем газа нам 	удастся получить до конца февраля", – сказал Коболев.
							p.news-open__paragraph Глава компании утверждает, что четко выполняет свои 	обязательства и надеется на такое же отношение к контракту со 	стороны "Газпрома".
							p.news-open__paragraph "Мы внесли предоплату на начало месяца. Решение о графике 	отбора предоплаченных объемов и о дальнейшем внесении предоплаты 	будет зависеть от погодных условий в Украине и от добросовестного 	исполнения контракта" Газпромом", – заявил Коболев.
					.news__similar
						h5.fifth-header.fifth-header--left похожие новости
						ul
							li.similar__el
								span.news__item-date 2 февраля 2015
								a.similar-link(href='#') Инфляция в Украине в 2015 году замедлится в 2 раза, до 11% - эксперт 
							li.similar__el
								span.news__item-date 2 февраля 2015
								a.similar-link(href='#') Порошенко назначил председателя Винницкой ОГА  
							li.similar__el
								span.news__item-date 2 февраля 2015
								a.similar-link(href='#') Полторак во Львове рассказал, когда начнется демобилизация 
							li.similar__el
								span.news__item-date 2 февраля 2015
								a.similar-link(href='#') Стало известно, на что Украина потратит первый транш кредита МВФ
							li.more
								a.link-more(href='#') все новости
		include footer
		script(src='//code.jquery.com/jquery-1.11.0.min.js')
		script(src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
		script(src='slick/slick.min.js')
		script(src='libs/jquery.malihu.PageScroll2id/jquery.malihu.PageScroll2id.min.js')
		script(src='js/main.js')
